* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.poppins {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  padding-top: 70px;
}
header nav {
  width: 85%;
  max-width: 1224px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  margin-right: 20px;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
}
.nav-left {
  font-size: 20px;
}
nav li a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
#banner {
  margin-top: 40px;
}
#banner .banner-container {
  width: 85%;
  max-width: 1224px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.banner-container .banner-text h2{
  width: 585px;
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
  border: 1px solid red;

}