* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.poppins {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  padding-top: 70px;
}
header nav {
  width: 85%;
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  margin-right: 20px;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
}
.nav-left {
  font-size: 20px;
}
nav li a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
#banner {
  margin-top: 80px;
}
#banner .banner-container {
  width: 85%;
  max-width: 1224px;
  background-image: url("../images/Circle\ design.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  vertical-align: text-bottom;

  background-size: contain;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner-text {
  width: 585px;
}

.banner-container .banner-text h2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
}
.banner-text p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}
.banner-text button {
  font-size: 16px;
  color: white;
  background-color: rgba(211, 36, 36, 0.96);
  font-weight: bold;
  margin-top: 16px;
  padding: 10px 56px 10px 25px;
  border-radius: 42px;
  border: none;
}
#banner .banner-image {
  width: 445px;

  vertical-align: text-bottom;
}
.website {
  padding-top: 100px;
}
.website .website-list {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0cqw;
}
.website .website-list img {
  width: 85px;
  margin-right: 40px;
  margin-left: 40px;
}
.box {
  margin-top: 100px;
  text-align: center;
}
.box .box-contaner {
  width: 85%;
  max-width: 1100px;
  margin: 0px auto;
}
.box .box-contaner .container-header {
  font-size: 30px;
  margin-bottom: 40px;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;

  text-align: left;
}
.card .card-details {
  width: 330px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.141);
}
.card-details h3 {
  font-size: 20px;
  margin-top: 10px;
}
.card-details h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.card-details p {
  font-size: 12px;
  font-weight: 500;
}
